:root {
    --theme-color: #34495e;
    --background-color: #E0F2FE;
    --table-header-bg: #c8d6e5;
    --table-border-color: #dee2e6;
}

body {
    margin: 0;
    font-family: "Lato";
    padding-top: 88px;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme-color);
    padding: 8px 50px;
    height: 70px;
}

.logo {
    font-size: 30px;
    color: white;
}

.actions {
    display: flex;
    list-style: none;
    color: white;
    padding-left: 0;
}

.actions li {
    font-size: 200%;
    padding: 8px 20px;
    text-decoration: none;
    color: white;
}

#userIcon {
    cursor: pointer;
}

.hiddenbar {
    background-color: #ffffff; /* Light background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: 200px;
    position: absolute;
    top: 70px; /* Adjust based on the navbar height */
    right: 10px;
    z-index: 1000;
    border-radius: 8px;
    overflow: hidden;
    display: none;
}

.hiddenlist {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.hiddenlist li {
    padding: 12px 20px;
    font-size: 16px;
    border-bottom: 1px solid #e0e0e0;
    color: #34495e;
    transition: background-color 0.3s, color 0.3s;
}

.hiddenlist li:hover {
    background-color: #f5f5f5;
    color: #2c3e50;
}

.hiddenlist a {
    color: #34495e;
    text-decoration: none;
    display: block;
}

.hiddenlist li:last-child {
    border-bottom: none;
}

.patient-details-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 3%;
    padding: 0 10%;
}

#notifications {
    position: relative;
    cursor: pointer;
}

.alert-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 12px 12px;
    border-radius: 8px;
    z-index: 100;
}

.alert-menu p {
    padding: 12px 16px;
    color: black;
    font-size: 15px;
}

.unread {
    font-weight: bold;
}

.personal-details,
.contact-information,
.insurance-upload {
    background-color: #fff;
    padding: 20px;
    margin-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.personal-details {
    flex-basis: 25%;
}

.contact-information {
    flex-basis: 38%;
}

.medical-background {
    padding: 0 10%;
    display: flex;
    justify-content: center;
}

.allergies,
.primary-diseases {
    flex-basis: 30%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-right: 10px;
}

h2, h3 {
    color: var(--theme-color);
    margin-bottom: 15px;
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Add icons next to contact information */
.fa-phone, .fa-user-injured, .fa-house {
    margin-right: 8px;
    color: var(--theme-color);
}

.btn-primary {
    background-color: var(--theme-color);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.edit-profile-container {
    display: flex;
    /* justify-content: flex-end; */
    margin-top: 20px;
    padding-left: 10%;
}

input[type="file"] {
    margin-bottom: 10px;
}


@media screen and (max-width: 780px) {
    body {
        padding-top: 141px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
        height: initial;
    }

    .actions {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .patient-details-container, .medical-background {
        flex-direction: column;
    }

    .personal-details,
    .contact-information,
    .allergies,
    .primary-diseases {
        flex-basis: 100%; /* Full width on smaller screens */
    }
}