<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--sources for styling-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>MediConnect</title>
</head>
<body id="forgot.html">
    <!--header-->
    <nav class="navbar">
        <div class="logo">
            <i class="MediConnect logo"></i>
            <a href="/">MediConnect</a>
        </div>
        <ul class="actions">
            <li id="login"><a href="/login">Login</a></li>
        </ul>
    </nav>
    
    <!--content-->
    <div class="container">
        <form id="loginForm" action="" method="POST">
            {{ form.hidden_tag() }}

            <h1>Forgot Your Password?</h1>
            <p>Please enter email address to send password reset link to.</p>
            {% with messages=get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}}">
                        <strong>
                            {{message}}
                        </strong>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}<br>

            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-user icon"></i>
                    <!-- {{ form.user.label(class='form-control-label') }} -->
                    {{ form.user(class='form-control') }}
                </div>
                <div class="input-icon">
                    <i class="fa fa-envelope icon"></i>
                    <!-- {{ form.email.label(class="form-control-label") }} -->
                    {{ form.email(class="form-control") }}
                </div>
                <div class="form-footer">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>

        </form>
    </div>

    <!--js file-->
    <script type="module" src="{{ url_for('static', filename='script/main.js') }}"></script>
</body>
</html>